<h1>Edit your personal information</h1>
<h3>Name: <%= current_user.name %></h3>
<h3>Email: <%= current_user.email %></h3>
<h3>Password: <%= current_user.password %></h3>

<form action="/edit/<%= @user.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" placeholder="Name"/>
  <input type="text" name="email" placeholder="Email"/>
  <input type="text" name="password" placeholder="Password"/>

  <input type="submit" value="update">
</form>

  