<h3>Log in to your account:</h3>

<form method="POST" action="/login">
  <p>name: <input type="text" name="name" placeholder="name:"></p>
  <p>Password: <input type="password" name="password" placeholder="Password:"></p>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>